

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("img/Banner.png");
  
    
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* Set a specific height */
    padding: 100px;
    margin: 20px;
  }

.container {
    display: flex;
    font-family: 'Orbitron', sans-serif;
}

#leftCol {

}

#rightCol {

}

p {
    background-color: black;
    color: lightblue;
    padding: 20px;
}
